/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.groovy.core.prefs
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.grails.ide.eclipse.core.prefs

/target-eclipse/classes

/target/classes

/target

/plugins
documentation-site/out/
documentation-site/node_modules/
